<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block head_title %}{% endblock %}</title>
    <style type="text/css">
        BODY {

        }

        .message {
            width: 300px;
            background-color: #faf0e6;
            border-radius: 10px;
        }

        .message * {
            padding: 10px;
        }

        .title {
            font-weight: bold;
        }
    </style>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.iframe-post-form.js"></script>
    {% block javascript %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
